* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    }



:root {
--color-navy-blue:#2E2F42; 
--color-ocean:#404BBF;
--color-slate:#434455; 
--color-text:#F4F4FD;
--color-white:white;
--color-iris:#4D5AE5;
--color-button-cloud:#F4F4FD;

}


body {
    margin: 0;
    font-family:"Roboto", sans-serif;
    color:var(--color-slate);
    line-height: 1.6;
    background-color: var(--color-white);
}
  

.header-class {
    border-bottom: 1px solid #e7e9fc;
    display: flex;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav{
    color:var(--color-navy-blue);
    align-items: center;
    display: flex;
  }


.logo {
    font-family:"Raleway", sans-serif;
    font-size: 18px;
    line-height:1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color:var(--color-iris);
    font-weight:800;
    margin-right: 76px;
}

.hightlight {
color: var(--color-navy-blue);

}

a{
    text-decoration:none;
}


ul {
    list-style: none;
    }


.html {
    color:var(--color-navy-blue);
}

.info {
    font-style:normal;
    gap: 40px;
}

.address {
    color:var(--color-slate);
    text-decoration:none;
    font-style:normal;
    line-height:1.5;
    letter-spacing:0.02em;
    gap: 40px;
}


.address:hover .info:hover {
    color:var(--color-ocean);
    text-decoration:none;
}


.section {
font-family:"Roboto", sans-serif;
font-size: 56px;
font-weight: 500;
color:var(--color-text);
background: var(--color-white);
}



.first-section {
    background-color:var(--color-navy-blue); 
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office.jpg');
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.nav-first-section {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-white);
    max-width: 496px;
    margin: 0 auto 48px;
}

.button-first {
    background-color:var(--color-iris);
    font-family:"Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    margin: auto;

}

.button-first:hover, .button-first:focus {
    background-color:var(--color-ocean); 
}


.second-section {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


  .list-second-section {
  display: flex;
  gap: 24px;
  }


.li-second {
    display: block;
    width: calc((100% - 72px) / 4);
}


.icon {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px; 
}


.header-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    margin-bottom: 8px;
}


.header-style {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
    
}


.third-section {
    padding-bottom: 120px;
}


.nav-third-section {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-navy-blue);
    margin-bottom: 72px;
}


.list-third-section {
    display: flex; 
    gap: 24px;
}


.li-third {
    styl width: calc((100% - 48px) / 3);
}



.fourth-section {
    background-color:var(--color-button-cloud);
    padding: 120px 0;
   
}

.nav-fourth-section {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-navy-blue);
    margin-bottom: 72px;
}

.list-fourth-section {
    display: flex; 
    gap: 24px; 
    
}

.li-fourth {
    background-color:var(--color-white);
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px) / 4); 
    border-radius: 0px 0px 4px 4px;

}

.information-employee {
    padding: 32px 0px; 
    text-align: center;
}

 .fourth-socials {
    display: flex; 
    justify-content: center;
    gap: 24px; 
}

.fourth-social-media {
    width: 40px;
    height: 40px; 
}

.fourth-social-media-link {
    width: 100%;
    height: 100%;
    background-color: var(--color-iris);
    border-radius:50%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.fourth-social-media-link:hover, .fourth-social-media-link:focus {
    background-color: var(--color-ocean);
}

.fifth-section {
    padding: 120px 0;
}

.nav-fifth-section {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-navy-blue);
    margin-bottom: 72px;
}

.list-fifth-section {
    display: flex; 
    gap: 24px; 
}


.li-fifth {
    background-color:var(--color-white);
    width: calc((100% - 72px) / 4); 
    border-radius: 0px 0px 4px 4px;
    height: 88px; 
}

.customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius:4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
    fill: currentColor;
}

.customers-link:hover, .customers-link:focus {
    border-color: #404bbf;
    color: #404bbf;

}


.icon-customers {
    fill: currentColor;
}

.page-footer {
    background-color: #2E2F42; 
    font-family:"Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--color-iris);   
    padding: 100px 0;
   
}


.footer-container {
    display: flex;
    align-items: baseline;
}

.logo-footer {
    margin-right: 120px;
}

.hightlight-link {
    text-decoration:none;
    color:var(--color-iris);
    display: inline-block;
    margin-bottom: 16px;
}


.studio-hightlight {
    color:var(--color-text);
}

.text-footer {
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 400;
text-transform: none;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--color-text);
max-width: 300px;

}

.text-social-media {
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
text-transform: none;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--color-white);
margin-bottom: 16px;
}


.footer-socials {
    display: flex; 
    gap: 16px;
}

.footer-social-media {
    width: 40px;
    height: 40px;
    
}

.social-media-link {
    width: 100%;
    height: 100%;
    background-color: var(--color-iris);
    border-radius:50%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.social-media-link:hover, .social-media-link:focus {
    background-color: #31d0aa;
}

.icon-image {
    fill: #f4f4fd; 
}

/* Portfolio */

.main-section {
    padding-top: 96px; 
    padding-bottom: 120px; 
    margin-bottom: 72px;
}


.list {
    display: flex; 
    justify-content: center;
    gap: 24px;
}

.buttons-list {
    margin-bottom: 72px;
}

.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:var(--color-iris);
    background-color: var(--color-button-cloud);
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
}

.button:hover, .button:focus {
    color:var(--color-white);
    background-color:var(--color-ocean);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


.my-links  .link {
    display: inline-block;
    font-family:"Roboto", sans-serif;
    font-size: 16px;
    font-style:normal;
    font-weight: 500;
    line-height:1.5;
    letter-spacing:0.02em;
    text-decoration:none;
    list-style:none;
    padding: 24px 0;
    gap: 40px;
}


.my-links, .link:hover,
.my-links, .link:focus {
   color: var(--color-ocean); 
   text-decoration:none;
   gap: 40px;
}

.information {
    gap: 40px;
}

.list-main {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    column-gap: 24px; 
    row-gap: 48px; 
}


.list-photo .link-decoration {
    text-decoration:none;
    flex-basis: calc((100% - 20px) / 3);
    display: block; 
}


.link-decoration:hover, .link-decoration:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.application {
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none;
    margin-bottom: 8px;
}



.link-style {
    font-family:"Roboto", sans-serif;
    font-size:16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-slate);
}

.container {
    width: 1158px;
    padding: 0 15px; 
    margin: 0 auto; 
}

img { 
    display: block; 
    max-width: 100%; 
    height: auto; 

}

button { 
    cursor: pointer; 
    border: none; 
    border-radius: 4px; 
}

ul { 
    list-style: none; 
    margin: 0; 
    padding-left: 0; 
}