* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }



:root {
--color-navy-blue:#2E2F42; 
--color-ocean:#404BBF;
--color-slate:#434455; 
--color-text:#F4F4FD;
--color-white:white;
--color-iris:#4D5AE5;
--color-button-cloud:#F4F4FD;

}


body {
    margin: 0;
    font-family:"Roboto", sans-serif;
    color:var(--color-slate);
    line-height: 1.6;
    background-color: var(--color-white);
}
  

.first-header {
    border-bottom: 1px solid #e7e9fc;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family:"Raleway", sans-serif;
    font-size: 18px;
    line-height:1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color:var(--color-iris);
    font-weight:800;
    margin-right: 76px;
}

.hightlight {
color: var(--color-navy-blue);

}

a{
    text-decoration:none;
}



ul {
    list-style: none;
    }

.my-links  .link {
    font-family:"Roboto", sans-serif;
    font-size: 16px;
    font-style:normal;
    font-weight: 500;
    line-height:1.5;
    letter-spacing:0.02em;
    text-decoration:none;
    list-style:none;
    
}


.my-links, .link:hover,
.my-links, .link:focus {
   color: var(--color-ocean); 
   text-decoration:none;
}

.html {
    color:var(--color-navy-blue);
}


.header-nav{
  color:var(--color-navy-blue);
}

.address {
    color:var(--color-slate);
    text-decoration:none;
    font-style:normal;
    line-height:1.5;
    letter-spacing:0.02em;
}

.info {
    font-style:normal;

}

.address:hover .info:hover {
    color:var(--color-ocean);
    text-decoration:none;
}


.section {
font-family:"Roboto", sans-serif;
font-size: 56px;
font-weight: 500;
color:var(--color-text);
background: var(--color-white);
}

.first-section {
    background-color:var(--color-navy-blue);
    padding: 188px 0;
}

.nav-first-section {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-white);
    max-width: 496px;
}

.button-first {
    background-color:var(--color-iris);
    font-family:"Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
}

.button-first:hover, .button-first:focus {
    background-color:var(--color-ocean); 
}


.second-section {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


  .list-second-section {
  display: flex;
  gap: 24px;
  }


.li-second {
    width: calc((100% - 72px) / 4);
}


.header-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    margin-bottom: 8px;
}

.header-style {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
    
}


.third-section {
    padding-bottom: 120px;
}


.nav-third-section {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-navy-blue);
    margin-bottom: 72px;
}


.list-third-section {
    display: flex; 
    gap: 24px;
}


.li-third {
    styl width: calc((100% - 48px) / 3);
}



.fourth-section {
    background-color:var(--color-button-cloud);
    padding: 120px 0;
}

.nav-fourth-section {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-navy-blue);
    margin-bottom: 72px;
}

.list-fourth-section {
    display: flex; 
    gap: 24px; 
}


.li-fourth {
    background-color:var(--color-white);
    width: calc((100% - 72px) / 4); 
    border-radius: 0px 0px 4px 4px;

}


.information-employee {
    padding: 32px 0px; 
    
}


.header-list {
    text-align: center; 
    margin-bottom: 8px;
}

.header-style {
    text-align: center;
}


.page-footer {
    background-color: #2E2F42; 
    font-family:"Raleway", sans-serif;
    font-weight:800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--color-iris);   
    padding: 100px 0;
}


.hightlight-link {
    text-decoration:none;
    color:var(--color-iris);
    display: inline-block;
    margin-bottom: 16px;
}


.studio-hightlight {
    color:var(--color-text);
}

.text-footer {
    font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 400;
text-transform: none;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--color-text);
}


.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:var(--color-iris);
    background-color: var(--color-button-cloud);
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
}

.button:hover, .button:focus {
    color:var(--color-white);
    background-color:var(--color-ocean);
    border: 1px solid transparent;
}


.main-section {
    padding-top: 96px; 
padding-bottom: 120px; 
}


.list {
    display: flex; 
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}


.list-main {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    column-gap: 24px; 
    row-gap: 48px; 
}


.list-photo .link-decoration {

    text-decoration:none;
    flex-basis: calc((100% - 20px) / 3);
}

.link-style {
    font-family:"Roboto", sans-serif;
    font-size:16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-slate);
}

.container {
    width: 1158px;
    padding: 0 15px; 
    margin: 0 auto; 
}

img { 
    display: block; 
    max-width: 100%; 
    height: auto; 

}

button { 
    cursor: pointer; 
    border: none; 
    border-radius: 4px; 
}

ul { 
    list-style: none; 
    margin: 0; 
    padding-left: 0; 
}