:root {
--color-navy-blue:#2E2F42; 
--color-ocean:#404BBF;
--color-slate:#434455; 
--color-text:#F4F4FD;
--color-white:white;
--color-iris:#4D5AE5;
--color-button-cloud:#F4F4FD;

}


body {
    font-family:"Roboto", sans-serif;
    color:var(--color-slate);
    line-height: 1.6;
    background-color: var(--color-white);
}
  

.logo {
    font-family:"Raleway", sans-serif;
    font-size: 18px;
    line-height:1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color:var(--color-iris);
    font-weight:800;

}

.hightlight {
color: var(--color-navy-blue);

}

a{
    text-decoration:none;
}


a:hover {
    text-decoration:underline;
} 

ul {
    list-style: none;
    }

.my-links .link {
    font-family:"Roboto";
    font-size: 16px;
    font-style:normal;
    font-weight: 500;
    line-height:1.5;
    letter-spacing:0.02em;
    color: var(--color-slate);
    text-decoration:none;
    list-style:none;
    color:var(--color-navy-blue);
}


.my-links, .link:hover,
.my-links, .link:focus {
   color: var(--color-ocean); 
}

.header-nav{
  color:var(--color-navy-blue);
}


.address {
    color:var(--color-slate);
    text-decoration:none;
    font-style:normal;
    line-height:1.5;
    letter-spacing:0.02em;
}

.info {
    font-style:normal;

}

.address:hover .info:hover {
    color:var(--color-ocean);
    text-decoration:none;
}


.section {
font-family:"Roboto";
font-size: 56px;
font-weight: 500;
color:var(--color-text);
background: var(--color-white);
}

.first-section {
    background-color:var(--color-navy-blue);
}

.nav-first-section {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-white);
}

.button-first {
    background-color:var(--color-iris);
    font-family:"Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
}

.button-first:hover, .button-first:focus {
    background-color:var(--color-ocean); 
}


.second-section {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}

.header-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}

.header-style {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
    
}

.nav-third-section {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-navy-blue);
}

.fourth-section {
    background-color:var(--color-button-cloud);
}

.nav-fourth-section {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-navy-blue);
}

.li-fourth {
    background-color:var(--color-white);

}

.page-footer {
    background-color: #2E2F42; 
    font-family:"Raleway", sans-serif;
    font-weight:800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--color-iris);   
}


.hightlight-link {
    text-decoration: none;
    background-color: var(--color-iris);
    color:var(--color-iris);
}


.studio-hightlight {
    color:var(--color-text);
}

.text-footer {
    font-family: "Roboto";
font-size: 16px;
font-weight: 400;
text-transform: none;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--color-text);
}


button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:var(--color-iris);
    background-color: var(--color-button-cloud);
    cursor: pointer;
}

button:hover, button:focus {
    color:var(--color-white);
    background-color:var(--color-ocean);
}

.list-main {
    list-style: none;
}


.list-photo .link-decoration {

    text-decoration:none;
}

.link-style {
    font-family:"Roboto";
    font-size:16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-slate);
}



